__pycache__
build
build_for_VM
dist
*.exe
*.aux
*.bbl
*.blg
*.log
*.pdf
*.gz
*.bak
*.out
*.pdf
*.fls
*.fdb_latexmk
.ropeproject
bibporter_config.json
bibPorter/bibporter.spec
test/ieee/reference.bib
.vscode/settings.json
*.url
